.reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;

}

@media screen and (max-width:576px) {
    .reviews-container {
        max-width: 400px;
        margin: 0px auto;
        width: 90%;
    }

    .reviews {
        grid-template-columns: repeat(1, 1fr);
    }


}